.header{
	background: red;
	position: relative;
	width: 100%;
	height: 280px;
}

h1{
	text-align: center;
	font-size: 90px;
	font-weight: bold;
	color: yellow;
	text-shadow: blue 2px 2px;
	padding: 90px 0 20px 0; 
}

h2{
	text-align: center;
	font-size: 36px;
	color: yellow;
	text-shadow: blue 2px 2px;
	padding-bottom: 40px;
}